DJANGO_SECRET_KEY=^tf&03=tln_hgl_jwrjw&++0zmf6p$oesm+r!s3n_6b3pnna5q
JWT_SIGNING_KEY=MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDNs8EpqAvcGgh8
7KgEtiqjgOuNGqLlDmQtgZbLDfa/D18x9HuturRsskaFYSRFA1OfRs1pfrveEcl7
hnW2em2rZ3EI+BLNy4ozC53Jth0CTCvn22FrTOrwdfWbFVLs+RMlCnioLk9EpgPF
yt5i2uP5BJiE2CmKy4lRR4eC310Fg+OpaAN2FbVjOmPNiWtW8HgnKETAID162gNQ
T6mxrmwt0Thpx9eUJXGd3j+GoacGtzkqCW8K9qpQp7XZdyzWiYMoFh1CVRvSpa7l
DecSTTPfApq40ISS3s6o/kHbDzzUHz1zNjGwwC3LKqQwPZdAo/+SQN2M4XDpSfSX
9Ty2tGUDAgMBAAECggEAAmd9dH0wVkw/mSYy+IsgiHSzTBzpln/Kj/WZy5nILoeB
d1YCNA+gmDylMl3mTKAzVANB11/R1lCi6Dy0F4Pq0DwPSCmOHrWoUdxq5bapNCOr
x7P6uYRWoqTeUAe5xmdK3/31VxHjf0vpc2BhpQol6/0vwy27npGuczLA1LjDn5Lb
ssDQCQ46GvWyQ8/hyI46ZUkZONKVjs7p7fZl8Is/pXfvo6ONYwsaxdvC4sS0IySy
HA0JY000n6m/MRSNu899goXiSfk8t+xdKtkP1grAmmI1XHDviWlXRpq/K1a0EoQo
9Y9hwoFaqoWJizQFGlsWxVAwMmJD6yI2TA+XZXptcQKBgQDqeCGGQJ8ZzCrDa+Zp
EWaGPqYs4vgm0zRa3jyPjlSOEDs3nuxkgx7f22CCfnn+m3yGjWBjzcPbQCk34ZAN
930VMoh9+7UvtAv0QZghQ6k5MicCpu5tatPVwkn356N+IdhfftaBqSLz6Zp8i7pD
MyK+SAAqVi5On83tDoBdWjuvnwKBgQDgl1705dXNUvMk4+1WWEAaLNrSYDqtP+Ln
psTuYHKI/Pk5v8O2YGbhpZI11ilcRYUj/d1eAi4nrBvzVOWDArvHhXaf/e0573ND
7OiCmPimvqIyQT2rbUOOpIY+jzPLqCxOVy8fBeeyPGYF+YvqUZ5J2E2QQ+nXoFVz
ukmbfp6AHQKBgDQ3Sqf+TjBNkpxwtCBj+qQc4Z8PcNocoQU3ht8lgFke7kElyFle
BgsubODCz+JOuD2y0GuJkHuMX2GNfypNGnMVDOaZnrEf9KWR0hJeYhpVu/BQQrrl
VoW9PgHSeUuGuAwUUCsSArG1LW1dJL8AbVVY7YiAJtHlrtODLj0b8jzbAoGBAM1T
Nfm4oZU8D5QbWKDGv5vuhAMu/JXlQUE9Iu83d56rgAH+wiNa0NPcNeZIK7nyyLzV
22qVnbKhU1BLviPe/ON0rbWpRRbhRcTEsvCqfzCaOdit8n5lvwyKdzx8WQMIdbEN
XcQD9wXo1/EAapzHD2o9ePO6Uu/R4i2SErc4tBk1AoGBAKzIP7NZsnf6IpseIt8f
xOmwAW5x+e+Ic3bRCmlBITMRsoswsC0TpcGw9EcTnayMXr0BJafgo5XSG9xpNOLt
AASNzhTI5kU4kkfNksFTxm16TC8mT9AMTgJa1ZuZ8LMlMws6e2e5lMhuS0Fr/4A+
qH09IIsV1hrcDthZq5rewRaH

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
FRONTEND_URL=http://localhost:3000
